Source: eigen3
Section: libdevel
Priority: optional
Maintainer: Synge Todo <wistaria@phys.s.u-tokyo.ac.jp>
Build-Depends: cmake, debhelper
Standards-Version: 4.2.1
Homepage: http://eigen.tuxfamily.org

Package: libeigen3-dev
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Eigen - C++ template library for linear algebra
 Eigen is a C++ template library for linear algebra: matrices, vectors,
 numerical solvers, and related algorithms.
